footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 2rem;
    color: var(--color-light-primary);
  }


  .footer__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer__links{
    display: flex;
    gap: var(--step-1);
    text-align: left;
  }
  
  .footer__links--icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid var(--color-dark-secondary);
    background-color: var(--color-dark-secondary);
    border-radius: 50px;
  
    box-shadow: none;
    transition: 200ms ease;
    cursor: pointer;
  }
  
  .footer__links--icons:hover, .footer__links--icons:focus {
    box-shadow: 0 0 10px var(--color-light-primary);
    transition: 300ms ease;
  }

  .footer__links--icons:active{
    box-shadow: 0 0 5px var(--color-light-primary); /* Sombra más suave para simular el click */
    transition: 100ms ease;
  }
  
  .footer__links svg{
    height: 20px;
  }

  @media (width >= 768px) {

    footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      background-color: var(--color-black-primary);
      color: var(--color-text-light);

    }

    .footer__columns{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-content: center;
      max-width: 1200px;
      width: 100%;
      margin: auto;
    }

    footer p{
      text-align: center;
    }


    .footer__links{
      gap: 20px;
    }


  }