@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
.hero__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: var(--color-light-primary);
    padding: 4rem 2rem;
  }

  .hero__container--img{
    width: 700px;
    margin-top: 5%;
    animation: slideIn 1s forwards ease-in-out;
    margin-bottom: -5%;
    opacity: 1;
  }

.hero__container--name span{
  display: flex;
  justify-content: end;
  font-size: 4em;
  animation: slideIn 1s forwards ease-in-out;
  opacity: 1;

  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}


.hero__container--name span:nth-child(1){
  margin-bottom: -5%;
}

.hero__container--name  span:nth-child(2){
  animation-delay: .3s;
}

/* BREACKPOINT Desktop*/

@media (width <= 1200px) {
  .hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    overflow: hidden;
  }

  .hero__container--img{
    margin: 10px;
    height: 80%;
    width: auto;
    
  }

  .hero__container--name span{
    display: flex;
    justify-content: center;
    font-size: 4em;
  }
}