
.reactBanner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 2rem;
    background-color: var(--color-dark-primary);
    color: var(--color-light-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }

  .reactBanner__img{
      width: 100%;
      height: auto;

  }
  
  .reactBanner__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--step-1);
    
  }

  .reactBanner--btn{
    width: 300px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-accent);
    border-radius: 8px;
    background-color: transparent;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    
    letter-spacing: 1.2px;
    color: #fff;
    text-decoration: none;
    margin-top: 2%;
    cursor: pointer;
    transition: 150ms ease;
  }

  .reactBanner--btn:hover{
    background-color: var(--color-accent);
  }
  

  /* BREACKPOINT Desktop*/
  
  @media (width >= 800px){
    
    .reactBanner{
      display: flex;
      flex-direction: row;
      
      justify-content: center;
      align-items: center;

  
    }
  
    .reactBanner__container{
      display:  flex;
      flex-direction: column;
      width: 100%;
    }

  
    .reactBanner__container p{
      font-size: 18px;
      line-height: 1.7em;
     
    }

    .reactBanner__block{
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--step-1);
    }

     .reactBanner__img{
      width: 400px;
      height: auto;
    
  }
  }