.project__card {
  height: auto;
  text-decoration: none;

  color: var(--color-light-primary);
  border: .5rem solid var(--color-dark-secondary);
  border-radius: 32px;
  background-color: var(--color-dark-secondary);
  transition: 300ms ease-in;

}

.project__card:hover {
  box-shadow: 0 0 12px 4px var(--color-accent-shadow);
  
}

.project__card--image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
}

.project__card--content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-dark-secondary);
}

.project__card--title {
  font-size: var(--step-2);
  margin: 0;
  color: var(--color-light-primary);
}

.project__card--date {
  font-size: var(--step-1);
  color: var(--color-light-primary);
  margin: 0.5rem 0 1rem;
}

.project__card--tags {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.project__card--tag {
  background-color: var(--color-light-primary);
  color: var(--color-dark-primary);
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  font-size: var(--step-0);
  font-weight: 600;
}

/* BREACKPOINT Desktop*/

@media (width >= 1024px) {

  .project__card--image {
    height: 400px; /* Aumenta la altura para escritorio si quieres */
  }
}