.cv {
  margin: 0 auto;
  padding: 4rem 2rem;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: var(--step-3);
}

.cv__job{
  background-color: var(--color-dark-secondary);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 0.6s ease-out forwards;
}

.cv__job--header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-dark-secondary);
  gap: 1rem;
}

.cv__job--meta{
  display: flex;
  gap: 1rem;
}

.cv__section {
  padding: 0 2rem;
  border-radius: 1rem;
  gap: 1rem;
}

.cv__tags{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.cv__tags span{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 6px 14px;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--color-light-primary);
  background-color: var(--color-dark-primary);
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.cv__job:nth-child(2) {
  animation-delay: 0.2s;
}
.cv__job:nth-child(3) {
  animation-delay: 0.4s;
}

.cv__header {
  margin-bottom: 1rem;
}

.cv__title {
  font-size: var(--step-2);
  font-weight: 700;
}

.cv__meta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.cv__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.cv__skills span {
  background-color: var(--color-dark-terciary);
  color: var(--color-dark-primary);
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cv__skills span:hover {
  background-color: var(--color-accent);
  transform: scale(1.05);
}

.cv__responsibilities {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cv__responsibilities li p {
  margin: 0;
  line-height: 1.5;
}

.cv__responsibilities strong {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.3rem;
}

.cv__freelance-project {
  margin-top: 1.5rem;
  border: 1px solid red;
}

.cv__project-title {
  font-weight: 600;
  font-size: 1rem;
}

.cv__project-year {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
  margin-bottom: 0.5rem;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (width >= 1200px) {
  .cv {
    padding: 2rem 1rem;
    max-width: 90%;
  }

  .cv__meta {
    flex-direction: column;
    gap: 0.5rem;
  }

  .cv__job--header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-dark-secondary);
  gap: 1rem;
}
}
