.gallery{
  padding: 6rem 0rem;
  height: auto;
}

.link--selected{
    background-color: var(--color-light-primary);
    font-weight: 700;
    cursor: default;
  }
  
  

  .gallery__nav{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 10px;
  }
  
  .gallery__nav--link{
    background-color: var(--color-dark-terciary);
    border: none;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text-primary);
    transition: transform 0.1s ease;
    cursor: pointer;
  }
  
  .gallery__nav--link:hover {
    transform: scale(1.05);
    background-color: var(--color-accent);
    box-shadow: 0 0 12px 4px var(--color-accent-shadow);
    color: var(--color-light-primary);

    
  }
  
  .link--selected{
    background-color: var(--color-light-primary);
    font-weight: 700;
    cursor: pointer;
    color: var(--color-dark-primary);
    box-shadow: 0 0 12px 4px var(--color-accent-shadow);

  }
  
  .link--selected:hover{
    transform: none;
    cursor: auto;
    color: var(--color-dark-primary);
    background-color: var(--color-light-primary);


    
  }
  
  .gallery__container{

    max-width: 1200px; /* Ancho máximo para la galería */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 4rem 2rem;
  }
  
  .gallery__container .gallery__item{
    height: 500px;
    background-color: var(--color-dark-secondary);
    border: 8px solid var(--color-dark-secondary);
    border-radius: 16px ;
  
    cursor: pointer;
    color: black;
    text-decoration: none;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: end;

    /* Añadir transición para el escalado */
    transition: transform 0.5s ease-in-out, box-shadow 0.4s ease-in-out;
    background-size: 100%; /* Tamaño inicial de la imagen */

  }

  .gallery__container .gallery__item:hover{
   
    /* Efecto hover: agrandar la imagen y añadir sombra */
    transition: box-shadow 0.5s ease-in-out, background-size 0.4s ease-out;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.6);
    background-size: 103%; /* Escalado de la imagen */
  }


  .gallery__container .gallery__item {
    /* Reducir más rápido al dejar de hacer hover */
    transition: background-size 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
  }

  .gallery__item h4{
    color: var(--color-light-primary);
    font-size: var(--step3);
  }

  
  .item__tags{    
    display: flex;
    flex-direction: column;
    gap: 1%;
  }

  .item__tags:hover{
    cursor: default;
  }

  .item__tags span{
  
    padding: 3px 10px;
    border-radius: 50px;
    background-color: var(--color-dark-terciary);

    font-size: 12px;
    font-weight: 600;
  }

  .projectCard:hover{
    border: 1px solid
  }

  /* BREACKPOINT Tablet*/

   @media ( width <= 768px) {

    .gallery__container{
      grid-template-columns: 1fr;
    }
  } 

  /* BREACKPOINT Desktop*/

  @media (width >= 1024px) {

    .gallery__container{
      grid-template-columns: 1fr 1fr;
      
    }

    .gallery__container .gallery__item{
      background-size: cover;
    }

    .gallery__container .gallery__item:hover{
      background-size: cover; /* Escalado de la imagen */
    }
  }

 