@import './styles/variablesOld.css';
@import './styles/variables.css';


:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0;
  height: auto;
  background-color: var(--color-bg-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-light-primary);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.gallery, .stack, .cv, .studies {
  margin-bottom: var(--step-4);
}


.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  color: var(--color-light-primary);
  margin-bottom: 2rem;
}


  .project__card--image {
    height: 400px; /* Aumenta la altura para escritorio si quieres */
  }

