@import './styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0;
  height: auto;
  background-color: var(--color-dark-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-light-primary);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.gallery, .stack, .cv, .studies {
  margin-bottom: var(--step-4);
}


.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  color: var(--color-light-primary);
  margin-bottom: 2rem;
}

.tool-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.tool-card {
  background-color: var(--color-dark-secondary);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.tool-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-light-primary);
}

.tool-icon {
  width: 40px;
}

.tool-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.tool-description {
  font-size: .85rem;
  font-weight: 500;
  color: var(--color-light-primary);
}

.arrow-icon {
  font-size: 1.25rem;
  color: var(--color-light-primary);
}

/* ---------- MEDIA QUERIES UNIFICADAS ---------- */

/* BREACKPOINT Tablet*/
@media (width >= 768px) {
  /* Puedes añadir aquí los ajustes específicos para tablet si los necesitas */
  .tool-list {
    gap: 1.5rem;
  }
}

/* BREACKPOINT Desktop*/

@media (width >= 1024px) {
  .tool-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 0;
  }

  .tool-icon {
    width: 30px;
  }

  .tool-info p {
    margin: 0;
  }

  .tool-card {
    width: auto;
  }

  .project__card--image {
    height: 400px; /* Aumenta la altura para escritorio si quieres */
  }
}
